@charset "UTF-8";

@font-face{
	font-family: "AnotherDanger";
	src: url("css/fonts/AnotherDanger-Demo.otf");
}
headgod {
	font-family:'AnotherDanger';
	color:rgb(175,17,28);
	font-size: 450%;
	margin-left: 300px;
	padding-bottom: 100px;
	border-bottom-style: solid;
	border-color: black
}


}
p {
	font-family: "";
}

h {
	font-family: "";
}

subtitle {
	font-family: "";
}

