@charset "UTF-8";

@font-face{
	font-family: "AnotherDanger";
	src: url("css/fonts/AnotherDanger-Demo.otf");
}

@font-face{
	font-family: "f25bankprinter";
	src: url("css/fonts/F25_Bank_Printer.ttf")
}

@font-face{
	font-family: "charter";
	src: url("css/fonts/CharterRegular.otf")
}
headgod {
	font-family:'AnotherDanger';
	color:rgb(175,17,28);
	font-size: 450%;
	margin-left: 300px;
}

h {
	font-family: "";
}

subtitle {
	font-family: "";
}

img {
	max-width: 100%;
	height: auto;
	
}